{%extends 'basefront.html.twig' %}



{% block body %}
    <div class="card-body">
        <div class="table-responsive" >
            <table class="table"    >
                <thead>
                <tr>
                    <th>libele</th>
                    <th>prix</th>
                    <th>emplacement</th>
                    <th>description</th>
                    <th>date</th>
                    <th>type</th>
                    <th>image</th>
                    <th>supprimer</th>
                    <th>modifier</th>
                </tr>
                </thead>
                <tbody>
                {% for activite in a %}
                    <tr>
                        <td>{{ activite.libele}}</td>
                        <td>{{ activite.prix}}</td>
                        <td>{{ activite.emplacement}}</td>
                        <td>{{ activite.description}}</td>
                        <td>{{ activite.date|date}}</td>
                        <td>{{ activite.type}}</td>
                        <td> <img src="{{ asset('assets/'~activite.image) }}" height="150" width="150"></td>


                        <td>
                            <a class="btn btn-danger" href="{{ path('supp_activite',{'id':activite.id}) }}">Supprimer </a>
                        </td>
                        <td>
                            <a class="btn btn-success" href="{{ path('modifActivite',{'id':activite.id}) }}">Modifier </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>

{% endblock %}